---
---

$body-font: 'Playfair Display', serif;
$body-dark-color: #2B2B2B;
$code-font: 'Source Code Pro', ;
$code-background-color: #A5EFD2;

body {
	background-color: #FAFDE8;
	color: $body-dark-color;
	font-family: $body-font;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $body-font;
	font-weight: 700;
}

pre, code, kbd {
	font-family: $code-font;
	background-color: $code-background-color;

	@media(min-width: 600px) {
		& { 
			-moz-tab-size: 4;
			-o-tab-size: 4;
			tab-size: 4; 
		}
		
		& {
			white-space: pre-wrap;
			word-wrap: break-word;
			overflow: auto; 
		}
	}
}

.header {
	background-color: #36EFAC;

	h1 {
		margin: 0;
		padding: 10px;
	}

	a, a:visited {
		color: $body-dark-color;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}
}


.content {
	font-size: 22px;

	.article {
		padding: 15px 20%;
		
		@media(max-width: 600px) {
			padding: 15px 5%;
		}
	}

	h1, h2, h3, h4, h5, h6 {
		margin: 30px 0 5px 0;
	}

	p {
		margin: 0 0 15px 0;
		line-height: 34px;
	}

	a {
		color: $body-dark-color;
	}

}

.posts {
	padding: 15px 10%;
	margin: auto;
	width: 40%;

	a, a:visited {
		color: $body-dark-color;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	@media(max-width: 600px) {
		padding: 15px 5%;
		margin: 0;
		width: 90%;
	}
}

.highlight {
	background-color: $code-background-color;
	font-size: 18px;
	padding: 5px 10px;
}